.About{
    height:100%;
    width:100%;
    background-color:green;
    color:white;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.hideAbout{
    display:none;
}

.showAbout{
    display:block;
}